    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.bundle.min.js"></script>
  


    <div class="content">


  <!-- <div>
      <tabset>
        <tab heading="Dashboard" id="tab1"><a class="btn btn-primary" routerLink="/dashboard">Dashboard</a></tab>
        <tab heading="Tokens"><a class="btn btn-primary" routerLink="/tokens">Tokens</a></tab>
        <tab heading="About">About</tab>
      </tabset>
    </div> -->

    <app-token-search></app-token-search>
    <router-outlet></router-outlet>
    <app-messages></app-messages>


  </div>
