<!--The content below is only a placeholder and can be replaced.-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.bundle.min.js"></script>
  


    <div class="content">

 <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <span>
             {{ title }}
               <a class="btn btn-primary" routerLink="/dashboard">Dashboard</a>
               <a class="btn btn-primary" routerLink="/tokens">Tokens</a>
               <a class="btn btn-primary" >About SimLex</a>
          </span>   
          <a class="navbar-brand" href="#">Brand</a>
          </div>
    </div> 
  </nav>

    
    <router-outlet></router-outlet>
    <app-messages></app-messages>


  </div>
