<h3>Top Tokens</h3>
<div class="grid grid-pad">
  <a *ngFor="let token of tokens" class="col-1-4" routerLink="/detail/{{token.id}}">
    <div class="module tokens">
      <h4>{{token.name}} ({{token.shortname}})</h4>
      <p>{{token.dashinfo}}</p>
    </div>
  </a>
  <a *ngFor="let token of tokens" class="col-1-4">
    <div style="display: block" class="module tokens">
      <p>{{token.name}} ({{token.shortname}})</p>
      <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button class="btn btn-success" routerLink="/detail/{{token.id}}">More Info</button>
    <button class="btn btn-danger" (click)="randomize()">Ranomize</button>
  </a>
</div>
<app-token-search></app-token-search>
