<h3>Top Tokens</h3>
<div class="grid grid-pad">
  <a *ngFor="let token of tokens" class="col-1-4" routerLink="/detail/{{token.id}}">
    <div class="module tokens" tooltip="{{token.name}}">
      <h4>{{ token.name | slice : 0 : 6 }}&hellip; ({{token.shortname}})</h4>
      <p>The 24 hour volume is: {{token.totalsupply}}</p>
      <canvas baseChart
      [datasets]= "token.barData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      ></canvas>
    </div>
  </a>
</div>
<app-token-search></app-token-search>
